* text=auto

*.md      text diff=markdown linguist-documentation
LICENSE   text linguist-documentation linguist-language=Markdown
*.step    text linguist-generated
*.stp     text linguist-generated
*.scad   text linguist-language=Python

*.jpg     binary
*.jpeg    binary
*.png     binary
*.stl     binary
