[submodule "Chicago/OpenSCAD"]
	path = Chicago/OpenSCAD
	url = https://github.com/pseudoku/PseudoMakeMeKeyCapProfiles.git
[submodule "LPX"]
	path = LPX
	url = https://github.com/levpopov/LPX.git
[submodule "DCJS/STL-sprues"]
	path = DCJS/STL-sprues
	url = https://github.com/valdar/DCJSx10.git
[submodule "MDLS"]
	path = MDLS
	url = https://github.com/muriworks/mlds-keycaps.git
